<form action="/form_url" method="post">
	name:<br>
		<input type="text" name="namee" value="">
	<br>
	password:<br>
		<input type="password" name="pass" value="">
		 <br><br>
  <input type="submit" value="Submit">
</form>